@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #152238;
}

.title{
    color: blue;
    margin-top: 100px;
    text-align: center;
}

.image{
    margin-top: 100px;
}
