@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
      }

.image{
    margin-top: 100px;
      }
