/*DOCTYPE css*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

#title{
    font-family: 'Poppins', sans-serif;
    text-align: center;
      }

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    } 
